/.vagrant/
src/pox/doc/*
*.pem
*.pyc
*.pyo
*.py~
*.py.bak
old.*
.*
*.patch
*.rej
*.diff
*.orig
*.swp
*.pcap
\#*\#
*~
src/pox/ext/*
src/pox/pox/lib/pxpcap/pxpcap_c/build
src/pox/pox/lib/pxpcap/pxpcap_c/WpdPack
src/pox/pox/lib/pxpcap/pxpcap.so
src/pox/pypy/
*.class
**/output/
